body {
  background-color: #070707;
  margin: 0;
  font-family: Arial, sans-serif;
}

form {
  background-color: #201f1f;
  padding: 20px;
  border-radius: 8px;
  color: #e4dfdf;
}
.star {
  font-size: 167px;
  cursor: pointer;
  color: rgb(184, 177, 177);
  text-shadow: 0 0 5px #e3c3e3, 0 0 10px #e3c3e3, 0 0 15px #e3c3e3;
}
.star.active {
  color: rgb(255, 231, 95);
}

h1 {
  font-size: 30px;
  color:azure;
}